<head>
  <meta charset="UTF-8">
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="robots" content="noindex" />
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% else %}<meta name="description" content="{{ site.description }}" />{% endif %}
  <title>{{ page.title }} - {{ site.author.name }}</title>
  <link rel="stylesheet" type="text/css" href="css/print.css">
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js" type="text/javascript"></script>
</head>
