---
layout: microtypo
---
<!DOCTYPE html>
<html lang="fr">
  {% include head-home.html %}
  <body>
    <main>
      <section class="cover-bib">
        <h2 class="name">{{ site.author.name }}</h2>
        <h2>{{ page.title }}</h2>
        <div class="resume">
          <p>{{ page.resume }}</p>
        </div>
      </section>
      <section class="content">
        <div class="break"></div>
        {{ content }}
      </section>
    </main>
    <footer class="footer">
    </footer>
  </body>
</html>
